; sudo uwsgi --ini config/rest_server.ini

[uwsgi]

chdir = /home/stealth/programming/voat
module = rest_server:app

master = true
processes = 10
threads = 1

uid = voat
gid = voat
socket = 127.0.0.1:3031
chmod-socket = 664
vacuum = true

die-on-term = true
